html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.left {
	height: 100%;
	width: 33.33%;
	background-color: #1653b7;
	float: left;
}
.mid {
	height: 100%;
	width: 33.33%;
	background-color: #009ace;
	float: left;

}
.right {
	height: 75%;
	width: 33.33%;
	background-color: #76ce18;
	float: left;
}
.pop {
	height: 25%;
	width: 33.33%;
	background-color: red;
	float: left;
}